default:
    autoload:
        "Context": %paths.base%/features
    suites:
        default:
            path: %paths.base%/features
            contexts:
                - Knp\FriendlyContexts\Context\MinkContext
                - Knp\FriendlyContexts\Context\TableContext
                - Knp\FriendlyContexts\Context\EntityContext
                - Knp\FriendlyContexts\Context\AliceContext
                - Knp\FriendlyContexts\Context\PageContext
    extensions:
        Knp\FriendlyContexts\Extension: ~
